/**
 * Develop your CSS using Stylus: http://learnboost.github.com/stylus/
 */

@import '../../dojo/resources/dojo.css';
@import '../../dijit/themes/claro/claro.css';
@import '../../dgrid/css/dgrid.css';
@import '../../esri/css/esri.css';

html, body, #map {
	height: 95%;
	width: 100%;
	margin: 0;
	padding: 0;
}
